.area h1 {
  margin-bottom: 0;
  text-transform: none; }

.row-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

.section-resource {
  padding: 50px 0;
  text-align: center; }
  .section-resource h3 {
    color: #8b8b8b;
    line-height: 1;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 0 30px; }
  .section-resource p.top {
    color: #585858;
    font-size: 28px;
    line-height: 1.2; }
  .section-resource p {
    line-height: 1.2;
    font-size: 16px;
    text-transform: none;
    margin: 0 0 20px;
    color: #8b8b8b; }
  .section-resource .text-block p:last-child {
    margin: 0; }

.section-resource-1 .text-block {
  text-align: left;
  position: relative;
  margin: 0 0 30px; }
  .section-resource-1 .text-block a {
    color: #585858;
    margin: 0;
    font-size: 17px;
    line-height: 1.2;
    cursor: pointer;
    display: inline-block; }
    .section-resource-1 .text-block a:hover {
      color: #8b8b8b;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }

.section-resource-1 .image-wrap {
  width: 490px;
  height: 448px;
  overflow: hidden;
  position: relative;
  margin: 0 0 20px; }
  .section-resource-1 .image-wrap .image-helper {
    position: absolute;
    top: 0;
    left: -9999px;
    bottom: 0;
    right: -9999px; }
    .section-resource-1 .image-wrap .image-helper img {
      display: block;
      height: 100%;
      margin: auto; }

.pagination {
  display: block;
  color: white;
  text-align: center;
  margin-top: 30px; }
  .pagination .page-numbers li {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 20px 11px 0; }
    .pagination .page-numbers li a {
      color: #585858;
      background: white;
      border: 1px solid #666;
      padding: 17px 0;
      width: 60px;
      height: 60px;
      display: block;
      text-align: center;
      font-size: 35px; }
    .pagination .page-numbers li a.current, .pagination .page-numbers li a:hover {
      background: #eebf42;
      color: white;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
      border: 1px solid #eebf42; }

.section-resource-2 {
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center top;
  height: 440px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .section-resource-2:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0; }
  .section-resource-2 p.top, .section-resource-2 h3 {
    color: #ffffff;
    z-index: 1;
    position: relative; }
  .section-resource-2 h3 {
    margin: 0;
    text-transform: none; }

.section-resource-3 {
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  position: relative; }
  .section-resource-3 .form-box {
    display: inline-block;
    text-align: left; }
    .section-resource-3 .form-box h3, .section-resource-3 .form-box p {
      text-align: left; }
    .section-resource-3 .form-box h3 {
      text-transform: none; }
  .section-resource-3 h3, .section-resource-3 p {
    color: #8b8b8b;
    position: relative; }
  .section-resource-3 p {
    margin: 0 0 30px; }
  .section-resource-3 form.getlist {
    position: relative;
    display: inline-block;
    width: 540px; }
    .section-resource-3 form.getlist label {
      display: block;
      text-align: right; }
      .section-resource-3 form.getlist label span {
        color: #8b8b8b;
        display: inline-block;
        line-height: 2;
        margin-right: 12px; }
      .section-resource-3 form.getlist label input {
        display: inline-block;
        border: 1px #666 solid;
        background-color: #fff;
        width: 450px;
        font-size: 16px;
        color: #585858;
        padding: 8px 16px;
        margin: 0 0 30px; }
    .section-resource-3 form.getlist .btn-action {
      text-align: center;
      margin-left: 73px; }
      .section-resource-3 form.getlist .btn-action button {
        font-size: 16px;
        text-transform: uppercase;
        width: auto;
        padding: 12px 42px;
        text-align: center; }

/*==========  Desktop First  ==========*/
@media only screen and (max-width: 1590px) {
  .section-resource-1 .image-wrap {
    width: 360px;
    height: 329px; } }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .section-resource-1 .image-wrap {
    width: 293px;
    height: 268px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .section-resource-1 .image-wrap {
    width: 220px;
    height: 200px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .area-text h1 {
    font-size: 22px; }
  .section-resource {
    padding: 30px 0; }
    .section-resource h3 {
      font-size: 22px;
      margin: 0 0 20px; }
    .section-resource p.top {
      font-size: 20px;
      margin: 0 0 10px; }
  .pagination {
    margin-top: 20px; }
    .pagination .page-numbers li {
      width: 30px;
      height: 30px;
      margin: 10px 6px 0; }
      .pagination .page-numbers li a {
        padding: 7px 0;
        width: 30px;
        height: 30px;
        font-size: 20px; }
  .section-resource-1 .image-wrap {
    display: inline-block;
    width: 433px;
    height: 395px; }
  .section-resource-1 .text-block {
    text-align: center;
    width: 433px;
    display: inline-block; }
  .section-resource-2 {
    height: 250px; }
    .section-resource-2 h3 {
      margin: 0; }
  .section-resource-3 .form-box {
    text-align: center; }
    .section-resource-3 .form-box h3 {
      text-align: center; }
  .section-resource-3 p {
    margin: 0 100px 20px; }
  .section-resource-3 form.getlist {
    width: 290px; }
    .section-resource-3 form.getlist label {
      text-align: left; }
      .section-resource-3 form.getlist label input {
        width: 290px;
        margin: 0 0 20px; }
    .section-resource-3 form.getlist .btn-action {
      margin-left: 0; }
      .section-resource-3 form.getlist .btn-action button {
        padding: 12px 42px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .section-resource-1 .image-wrap {
    width: 290px;
    height: 265px; }
  .section-resource-1 .text-block {
    width: auto; }
  .section-resource-3 p {
    margin: 0 0 20px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
