/*############################################## */
/*---------------- Buttons Form ---------------- */
.button {
  display: inline-block;
  min-height: 45px;
  border: 1px solid #71d2be;
  padding: 10px 10px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #56c9b2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  transition: all 0.3s ease;
  line-height: 23px; }
  .button:hover {
    text-decoration: none;
    background-color: #25b396;
    transition: all 0.3s ease;
    color: #fff; }

/*------------------ End Buttons Form ---------------- */
