/*
font-family: 'Arvo', serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Hooverville', serif;
*/

/***********************************************************************/
/*********************** RESET WORDPRESS *******************************/
/***********************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, font,
ins, kbd, q, s, samp, small, strike, strong, sub, sup,
tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap:break-word;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
a:focus {
  outline: 0;
}
a:hover,
a:active {
  outline: 0;
}
a img {
  border: 0;
}
/***********************************************************************/
/********************** END RESET WORDPRESS ****************************/
/***********************************************************************/

/************************* GENERAL SETTINGS ****************************/
html,body {
  height: auto;
  position: relative;
  font-family: 'Arvo', serif;
  font-size: 14px;
  font-weight: 400;
  color: #524d4d;
  background-color: #ffffff;
}
a {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #524d4d;
}
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
  outline: none;
}
h1,.h1 {font-size: 36px;}
h2,.h2 {font-size: 36px;}  /**/
h3,.h3 {font-size: 25px;}  /**/
h4,.h4 {font-size: 20px;}  /**/
h5,.h5 {font-size: 15px;}  /**/
h6,.h6 {font-size: 12px;}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
  margin: 0;
  padding: 0;
}
.hr-custom {
  height: 1px;
  border: none;
  width: 100%;
  background: #d0cfcf;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
}
img {
  max-width: 100%;
}
.pd-left {
  padding-left: 30px
}
.pd-right {
  padding-right: 30px;
}
.mgt-30 {
  margin-top: 30px;
}
.mgt-50 {
  margin-top: 50px;
}
.hidden {
  display: none;
}
/********************* END GENERAL SETTINGS ************************/

/************************* HOME SIDEBAR ****************************/
.home .mainNav {
  width: 333px!important;
}
.mainNav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 333px;
  padding: 39px 0 39px 24px;
  text-align: center;
  color: #524d4d;
  z-index: 4;
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.45);*/
}
.mainNav-inner {
  width: 100%;
  height: 100%;
  position: relative;
  padding-right: 24px;
}
.mainNav-inner .hr-custom {
  margin: 48px 0 42px;
}
.mainNav-logo {
  display: block;
  font-size: 35px;
  color: #524d4d;
  padding: 16px 25px 0 30px;
}
.mainNav-logo:hover,
.mainNav-logo:focus,
.mainNav-logo:active {
  text-decoration: none;
  color: inherit;
}
.menu {
  font-family: 'Arvo', sans-serif;
  font-size: 14px;
}
.menu > li {
  line-height: 14px;
  position: relative;
  margin-top: 5px;
}
.menu > li > a {
  font-family: "Arvo", serif;
  font-size: 16px;
  color: #524d4d;
  position: relative;
  padding-top: 14px;
  padding-bottom: 14px;
  display: block;
}
.menu > li.current_page_item {
  background-color: #5faf9f;
}
.menu > li > a:hover {
  font-weight: 700;
}
.menu > li::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 116px;
  background-color: #d0cfcf;
  left: 50%;
  bottom: -3px;
  margin-left: -58px;
}
.menu > li:last-child:after {
  height: 0;
}
.mainNav-sidebar {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  padding-right: 24px;
}
.mainNav-sidebar .hr-custom {
  margin: 18px 0;
}
.contactInfo {
  width: 49%;
  display: inline-block;
}
.contactInfo p {
  font-family: "Arvo", serif;
  font-size: 12px;
  line-height: 18px;
  display: inline;
  text-align: left;
  margin: 0;
}
.contactInfo p span {
  font-size: 10px;
}
.contactInfo .list-unstyled {
  float: right;
}
.contactInfo .list-unstyled li {
  display: inline-block;
  margin-right: 14px;
}
.contactInfo .list-unstyled li:last-child {
  margin-right: 0;
}
.contactInfo .list-unstyled li .fa {
  font-size: 18px;
  color: #070606;
}
/*********************** END HOME SIDEBAR **************************/

/*********************** MAIN PAGE WRAPPER *************************/
.pageWrapper {
  z-index: 3;
  background-color: inherit;
  height: 100%;
  right: 0;
  overflow: auto;
  padding: 39px 0;
}
/********************* END MAIN PAGE WRAPPER ***********************/

/******************** FLEXSLIDER CAROUSEL **************************/
.flex-sidebar {
  min-height: 400px;
  float: left;
  position: fixed;
  width: 50%;
  overflow: hidden;
  height: 100%;
  text-align: center;
  background-position: 50% 0;
  color: #524d4d;
  padding-left: 333px;
}
.flex-sidebar + .main-content {
  padding-left: 58px;
  padding-right: 40px;
  width: 50%;
}
.flex-sidebar-block, .flex-sidebar-block *,
.flex-image-block, .flex-image-block *{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
.flex-sidebar-block ul, .flex-image-block ul {
  list-style: none;
}
.flex-sidebar-block, .flex-image-block {
  position: relative;
  width: 100%;
  background-color: #39393c;
  margin: 2em auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px 40px 70px;
  z-index: 1;
}
.flex-slider {
  color: white;
  text-align: center;
}
.flex-slider:after {
  content: "";
  display: table;
  clear: both;
}
.flex-slider > li {
  position: absolute;
  opacity: 0;
}
.flex-slider > li:first-child {
  position: relative;
  opacity: 1;
}
.flex-slider .item-description {
  position: absolute;
  bottom: 0;
}
.flex-slider .item-description p {
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 10px;
  margin: 0 95px 35px;
  padding: 20px 17px;
  display: block;
  background-color: rgba(108,167,149, .9);
  text-align: left;
}
.flex-slider .item-description p .span-title {
  font-family: 'Arvo', serif;
  display: block;
  font-size: 16px;
}
.slider-bg {
  width: 100%;
  height: 100%;
  background-repeat:no-repeat;
  background-size: cover;
}
.current-number {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  z-index: 1;
}
.custom-navigation {
  background: #d7d7d6;
  display: inline-block;
  padding: 5px 18px;
  color: #111111;
  font-size: 12px;
  position: relative;
}
.custom-navigation .flex-next {
  padding-left: 46px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  padding-top: 4px;
}

/***************** END FLEXSLIDER CAROUSEL ************************/

/*********************** SCROLLING CONTENT ************************/
.error404 .main-content,
.search .main-content,
.single .main-content,
.archive .main-content,
.category .main-content,
.blog .main-content{
  padding-left: 373px;
}
.main-content {
  width: 100%;
  float: right;
  overflow: hidden;
  padding-left: 245px;
  padding-right: 40px;
}
.content-frame {
  position: relative;
}
.content-frame.content-frame-col {
  float: left;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.content-frame .mini-img {
  float: right;
  padding: 26px 20px 10px;
  border: 1px dashed transparent;
  margin-bottom: 20px;
}
.content-frame.content-frame-col::after {
  content: '';
  height: 1px;
  width: 100%;
  background: #d0cfcf;
  position: absolute;
  bottom: 0;
  left: 0;
}
.main-content .portfolio {
  margin-bottom: 30px;
}
.imageBox {
  width: 100%;
  position: relative;
  overflow: hidden;
  /*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
  margin-bottom: 50px;
}
.imageBox > a {
  display: block;
  color: inherit;
  position: relative;
  overflow: hidden;
}
.imageBox > a > img,
.imageBox > img {
  width: 100%;
}
.imageBox .descr-col6 {
  font-family: 'Libre Baskerville', serif;
  margin: 22px 0 0;
  font-size: 15px;
}
.imageBox .imageBox-inner {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  height: inherit;
  text-align: center;
}
.imageBox-inner-wrap {
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: rgba(120, 120, 120, .8);
}
.wide-hover-bg .imageBox-inner-wrap {
  width: 350px;
}
.imageBox-inner-wrap::after {
  content: '';
  position: absolute;
  transform: translateY(67px);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 102%;
  background-color: #414042;
  transition: all .3s ease;
}
.imageBox-inner-wrap h5 {
  margin: 0;
  position: relative;
  z-index: 2;
  padding: 17px;
  color: #ffffff;
}
.imageBox > a:hover .imageBox-inner-wrap::after {
  transform: translateY(0);
}
.content-frame .hr-custom {
  margin:0;
}
.content-frame h4 {
  font-family: 'Arvo', serif;
  color: #524d4d;
  margin: 0 0 15px;
  font-weight: bold;
  text-transform: uppercase;
}
.content-frame p {
  font-family: 'Libre Baskerville', serif;
  margin: 25px 0;
  font-size: 15px;
}
/*********************** END SCROLLING CONTENT ************************/

/*************************** NO HOME SECTION **************************/
.page .mainNav-inner {
  border-right: 1px solid #d0cfcf;
}
.page .mainNav {
  width: 333px;
}
.page .main-content {
  width: 100%;
  padding-left: 373px;
  padding-right: 40px;
}
.home .main-content {
  padding-left: 40px!important;
}
/*************************** GALLERY SLIDES **************************/
.flex-gallery{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #bcb3a6;
  z-index: 1;
}
.gallery-slides > li {
  position: relative;
}
.flex-gallery img {
  width: 100%;
}
.flex-gallery .block-descr {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 20px;
  bottom: 25px;
  display: block;
  padding: 20px 25px 20px 25px;
  background-color: rgba(255, 255, 255, .8);
  width: 250px;
  height: 95px;
  line-height: 26px;
}
.block-descr .num-slide {
  font-size: 50px;
  font-weight: 700;
  margin-right: 20px;
  line-height: 54px;
  float: left;
}
.block-descr .text-slide {
  display: inline;
}
.block-descr.wide-area {
  padding: 20px 25px;
}
.gallery-navigation a {
  position: absolute;
  height: 34px;
  width: 34px;
  top: 48%;
  z-index: 10;
}
.gallery-navigation a:first-child {
  left: 28px;
}
.gallery-navigation a:last-child {
  right: 28px;
}
.gallery-navigation a span {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .8);
}
.gallery-navigation a span::before, .gallery-navigation a span::after {
  content: '';
  position: absolute;
  left: 47%;
  bottom: -21px;
  width: 2px;
  height: 15px;
  background-color: #000;
}
.gallery-navigation a span::before {
  -webkit-transform: translateY(-35px) rotate(50deg);
  -moz-transform: translateY(-35px) rotate(50deg);
  -ms-transform: translateY(-35px) rotate(50deg);
  -o-transform: translateY(-35px) rotate(50deg);
  transform: translateY(-35px) rotate(50deg);
}
.gallery-navigation a span::after {
  -webkit-transform: translateY(-26px) rotate(-50deg);
  -moz-transform: translateY(-26px) rotate(-50deg);
  -ms-transform: translateY(-26px) rotate(-50deg);
  -o-transform: translateY(-26px) rotate(-50deg);
  transform: translateY(-26px) rotate(-50deg);
}
.gallery-navigation a:last-child span::before {
  -webkit-transform: translateY(-35px) rotate(-50deg);
  -moz-transform: translateY(-35px) rotate(-50deg);
  -ms-transform: translateY(-35px) rotate(-50deg);
  -o-transform: translateY(-35px) rotate(-50deg);
  transform: translateY(-35px) rotate(-50deg);
}
.gallery-navigation a:last-child span::after {
  -webkit-transform: translateY(-26px) rotate(50deg);
  -moz-transform: translateY(-26px) rotate(50deg);
  -ms-transform: translateY(-26px) rotate(50deg);
  -o-transform: translateY(-26px) rotate(50deg);
  transform: translateY(-26px) rotate(50deg);
}
/******************************* BUTTONS ******************************/
.button-custom {
  display: block;
  text-align: center;
  margin: 45px 0;
}
.btn-grey {
  position: relative;
  font-family: Arvo, sans-serif;
  color: #ffffff;
  font-size: 14px;
  background: #524d4d;
  padding: 16px 10px;
  text-decoration: none;
  width: 150px;
  height: auto;
  display: inline-block;
}
.btn-grey:hover, .btn-grey:focus {
  text-decoration: none;
  color: #ffffff;
}
.btn-grey::after {
  content: '';
  position: absolute;
  bottom: -13px;
  right: -14px;
  width: 160px;
  height: 64px;
  background-image: url("../img/button-frame.png");
  display: block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/********* Button Form *********/
.button-form {
  display: block;
  text-align: center;
  margin: 30px 0 12px;
}
.btn-action {
  position: relative;
  background: #5faf9f;
  padding: 14px 36px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  border: none;
  font-family: Arvo, sans-serif;
  color: #ffffff!important;
  font-size: 18px;
  text-transform: uppercase;
}

/************************************************************************/
/**************************** CONTACT SECTION ***************************/
/************************************************************************/
.contact-section {
  margin-bottom: 50px;
}
.contact-info {
  float: left;
  background-color: #5faf9f;
  padding: 23px 20px;
  width: 30%;
}
.contact-info img {
  margin-bottom: 18px;
}
.contact-section .address-box strong.title {
  font-family: Arvo, sans-serif ;
  font-size: 14px;
  font-weight: 700;
  color: #116d5b;
  display: block;
  padding: 0 0 4px 0;
}
.contact-section .address-box ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.contact-section .address-box ul li {
  color: #fff;
  display: block;
  font-family: "Arvo", sans-serif;
  font-size: 14px;
}
.contact-section .address-box {
  float: left;
  width: 100%;
  position: relative;
  margin: 0 0 34px 0;
}
.contact-section .address-box:last-child {
  margin: 0 0 24px 0;
}
.contact-section form {
  position: relative;
  background-color: #f7f5f4;
  border: 1px solid #bcb3a6;
  padding: 23px 75px 23px 25px;
  float: right;
  margin-right: 6px;
  width: 66%;
}
.contact-section form input[type="text"] {
  width: 100%;
  height: 36px;
  border: 1px solid #bcb3a6;
  border-radius: 5px;
  font-size: 15px;
  font-family:"Arvo",sans-serif;
  color: #807468;
  line-height: 1;
  padding: 6px 12px;
}
.contact-section form textarea {
  width: 100%;
  height: 108px;
  resize: none;
  margin: 16px 0 0;
  border: 1px solid #bcb3a6;
  border-radius: 5px;
  font-family: "Arvo", sans-serif;
  color: #807468;
  font-size: 15px;
  padding: 8px 12px;
}
.contact-section form h4 {
  font-family: Arvo, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #807468;
  text-transform: uppercase;
  margin: 0 15px 28px;
  text-align: left;
}
.contact-section form .input-wrap {
  position: relative;
  margin: 16px 0;
}
.contact-section form span {
  font-family:"Arvo", sans-serif;
  font-size: 16px;
  color: #807468;
}
.area-block {
  position: relative;
  padding-right: 130px;
}
.form-img-block {
  position: absolute;
  width: 145px;
  height: 145px;
  bottom: 0;
  right: -50px;
}
.form-bg {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/****** Accsess PopUp Callback Form *******/
form.callback .success {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  background: rgba(000, 000, 000, .8);
  z-index: 2;
  font-family: "Arvo", sans-serif;
  font-weight: 700;
  padding: 0 114px;
  align-items: center;
}
form.callback .success.visible {
  display: flex;
}
form .success .success-text {
  display: block;
}
form .success .success-text h2 {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
form .success .success-text p {
  font-family:"Libre Baskerville", sans-serif;
  font-size: 18px;
  color: #fff;
}
/************************** END CONTACT SECTION *************************/

/************************** MAGNIFIC POP-UP CUSTOM *************************/
/* Styles for dialog window */
.popup-form {
  background: white;
  padding: 48px 40px 36px;
  text-align: left;
  max-width: 550px;
  height: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -275px;
  margin-top: -300px;
}
.popup-form .gradient-box {
  background: linear-gradient(-20deg, #534e4e 0%, #534e4e 50%,
  #5fb09f 50%, #5fb09f 100%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
/*** Cuctom Popup Form ***/
.mfp-close {
  right: 50%;
  top: 0;
  margin-top: 15px;
  width: 30px;
  height: 30px;
  border: 1px solid #fff !important;
  border-radius: 50%;
  color: transparent !important;
  margin-right: -15px;
  font-size: 20px;
}
.mfp-close:before {
  content: 'X';
  position: absolute;
  color: #fff;
  top: -8px;
  left: 7px;
}
.pop-form-img-block {
  position: relative;
  width: 145px;
  height: 145px;
  top: 0;
  right: -20px;
  margin-bottom: 20px;
}
.pop-form-bg {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.popup-contact-descr {
  margin: 20px 0 20px;
  color: #ffffff;
}
.popup-contact-descr h4 {
  margin-bottom: 18px;
}
.popup-contact-descr p {
  font-size: 15px;
}
.popup-form span {
  font-family: "Arvo", sans-serif;
  font-size: 17px;
  color: #fff;
}
.popup-form .input-wrap {
  position: relative;
  margin: 12px 0;
}
.popup-form input[type="text"] {
  width: 100%;
  height: 36px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Arvo",sans-serif;
  color: #807468;
  line-height: 1;
  padding: 6px 12px;
}
.popup-form textarea {
  width: 100%;
  height: 82px;
  resize: none;
  margin: 12px 0 0;
  border: 1px solid #bcb3a6;
  border-radius: 5px;
  font-family: "Arvo", sans-serif;
  color: #807468;
  font-size: 15px;
  padding: 8px 12px;
}
.popup-form .btn-action {
  padding: 10px 36px;
  border-radius: 0;
}
.popup-form .button-form {
  margin: 24px 0 0;
}
.popup-form .success-text p {
  margin: 20px 0;
}
/**
 * Fade-move animation for second dialog
 */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

  -webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  -moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  -ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  -o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}
/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 );
  -moz-transform: translateY(0) perspective( 600px ) rotateX( 0 );
  -ms-transform: translateY(0) perspective( 600px ) rotateX( 0 );
  -o-transform: translateY(0) perspective( 600px ) rotateX( 0 );
  transform: translateY(0) perspective( 600px ) rotateX( 0 );
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;

  -webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
  -moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
  -ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
  -o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
  transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
}
/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0;
}
/*********************** END MAGNIFIC POP-UP CUSTOM ************************/
/* Fix bootstrap float: left*/
.visible-sm-block, .visible-xs-block {
  display: block !important;
}