@media (min-width: 1200px) {
	.flex-sidebar {
		width: 50%;
	}
	.flex-sidebar + .main-content {
		width: 50%;
	}
	.flex-slider .item-description p {
		margin: 0 35px 35px;
	}
}
@media (max-width: 1199px) {
    .home .main-content {
		padding-left: 373px!important;
	}
	.pageWrapper {
		overflow: auto;
	}
	.flex-sidebar {
		width: 100%;
		height: auto;
		position: static;
		padding-left: 373px;
		padding-right: 40px;
	}
	.flex-sidebar + .main-content {
		padding-left: 33%;
		width: 100%;
	}
	.main-content {
		padding-top: 30px;
		float: none;
	}
	.page .main-content {
		padding-top: 0;
		float: right;
	}
	.flex-gallery .block-descr, .block-descr.wide-area {
		padding: 15px;
		left: 10px;
		bottom: 10px;
		height: 80px;
	}


}
@media (max-width: 991px) {
	.pageWrapper {
		height: auto;
	}
	.gallery-navigation a:first-child {
		left: 5px;
	}
	.gallery-navigation a:last-child {
		right: 5px;
	}
	.flex-gallery .block-descr, .block-descr.wide-area {
		padding: 5px;
		font-size: 15px;
		height: 45px;
		width: 150px;
		line-height: 17px;
	}
	.block-descr .num-slide {
		font-size: 34px;
		margin-right: 0px;
		line-height: 38px;
		margin-left: 8px;
		margin-right: 10px;
	}

	.contact-section form {
		padding: 23px 25px;
	}
	.area-block {
		padding-right: 0;
	}
	.form-img-block {
		display: none;
	}
	form.callback .success {
		padding: 0 60px;
		text-align: center;
	}

}
@media only screen and (max-width: 768px) {
    .home .main-content {
		padding-left: 30px!important;
	}

	.popup-form {
		padding: 42px 18px 20px;
		max-width: 100%;
		left: 0;
		top: 0;
		margin: 0;
		position: relative;
	}
	.popup-form span {
		font-size: 15px;
	}

	h3,.h3, h4,.h4 {font-size: 15px;}
	.content-frame p, .imageBox .descr-col6 {font-size: 12px;}
	.imageBox {	margin-bottom: 40px;}
	.main-content .portfolio {
		margin-bottom: 10px;
	}
	.content-frame p {margin: 18px 0;}

	.imageBox-inner-wrap h5 {
		font-size: 10px;
		padding: 10px;
	}
	.mainNav-sidebar {
		position: relative;
		display: none;
		padding-left: 24px;
	}
	.mainNav-sidebar.sidebar-footer {
		display: block;
		margin: 54px 0;
	}
	.mainNav-inner {
		height: auto;
		padding-right: 0;
	}
	.main-content .ct-header {
		text-align: center;
	}
	.mainNav {
		position: relative;
		width: 100%;
		padding: 30px 30px 0;
		height: auto;
	}
	.mainNav-logo {
		padding: 0;
	}
	.mainNav .hr-custom:last-child {
		margin-bottom: 0;
	}
	.flex-sidebar {
		padding: 30px 30px 0;
	}
	.flex-sidebar-block, .flex-image-block {
		padding: 0;
		margin: 0;
	}
	.flex-sidebar + .main-content {
		padding: 30px;
	}
	.pageWrapper {
		padding: 0;
	}
	.pageWrapper.hidden-menu .navbar {
		display: none!important;
	}
	.page .main-content {
		width: 100%;
		padding-top: 30px;
		padding-left: 40px;
		float: none;
	}
	.home .mainNav,
	.page .mainNav {
		width: 100%!important;
	}
	.home.page .mainNav {
		display: block;
	}
	.page .mainNav {
		display: none;
	}
	.home.page .navbar {
		display: none;
	}
	.page .navbar {
		display: block;
	}
	.page .marg-content .main-content {
		margin-top: 55px;
	}
	.marg-content .main-content {
		margin-top: 112px;
	}
	.error404 .main-content,
	.search .main-content,
	.single .main-content,
	.archive .main-content,
	.category .main-content,
	.blog .main-content{
		padding-left: 40px;
	}
	/************* Mobile Menu Area ***************/
	nav {
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
	.navbar {
		min-height: 55px;
		border: none;
		display: none;
	}
	.navbar-default {
		position: relative;
		background-color: #fff;
		border-radius: 0;
		border-color: transparent;
		border-bottom: none;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0 30px 0;
		margin: 0;
		z-index: 11;
	}
	.navbar-small {
		background: #fff;
	}
	.navbar-default .container {
		position: relative;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.navbar-small .container {
		padding-top: 0;
		position: relative;
		width: 103%;
	}
	.nav>li>a,
	.nav>li>span {
		padding-left: 10px;
		padding-right: 10px;
	}
	.nav > li > span {
		position: relative;
		display: block;
		cursor: pointer;
		margin-top: 3px;
	}
	.bg-navbar-menu {
		width: 100%;
		height: 55px;
		background: #f7f5f4;
		border-bottom: 1px solid #d0cfcf;
		position: absolute;
		left: 0;
		top: 0;
	}
	/*Navbar Toggle*/
	.navbar-default .navbar-toggle {
		position: relative;
		float: left;
		padding: 10px 16px;
		margin: 11px 0;
		background-color: #524d4d;
		line-height: 12px;
		border: none;
		border-radius: 2px;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.navbar-toggle span {
		font-family: Arvo, sans-serif;
		font-size: 12px;
		color: #fff;
		font-weight:600;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background-color: #524d4d;
		outline: none;
	}
	/*Navbar Collapse Menu*/
	.navbar-collapse {
		padding-right: 0;
		padding-left: 0;
		color: #3a3a3a;
	}
	.navbar-default .navbar-collapse {
		border-color: transparent;
	}
	/*Navbar Collapse*/
	.navbar>.container .navbar-brand {
		margin-left: 0;
	}
	.navbar-brand {
		float: right;
		font-size: 30px;
		line-height: 20px;
		width: 60%;
		padding: 0;
	}
	.navbar-small .navbar-brand .logo-small {
		opacity: 1;
		margin-top: 6px;
		position: absolute;
		top: 0;
		right: 30px;
		height: 40px;
	}
	.nav-area li {
		margin-bottom: 30px;
	}
	.navbar-toggle, .navbar-brand, .navbar-collapse.in {
		display: none;
	}
	.navbar-small .navbar-toggle, .navbar-small .navbar-brand, .navbar-small .navbar-collapse.in {
		display: block;
	}
	.navbar-small .navbar-collapse.in {
		overflow-x: hidden;
	}
	.navbar-header {
		float: none;
	}
	.top-mainNav {
		text-align: center;
	}
	.in .open-mainNav {
		display: block!important;
	}
	.open-mainNav {
		text-align: center;
		width: 105%;
		height: 575px;
		margin-bottom: 10px;
		overflow: auto;
		padding-right: 43px;
	}
	.open-mainNav .hr-custom {
		margin: 48px 0 42px;
	}
	.open-mainNav .hr-custom:last-child {
		margin-bottom: 0;
	}
	.open-mainNav .mainNav-logo {
		padding: 30px 0 0;
	}

	.menu > li > a {
		position: relative;
		display: inline-block;
		font-size: 14px;
		padding-left: 28px;
		padding-right: 28px;
	}
	.menu > li > a::before {
		content: '';
		position: absolute;
		top: 18px;
		left: 0;
		width: 11px;
		height: 6px;
		background-image: url("../img/romb.png");
	}
	.menu > li > a::after {
		content: '';
		position: absolute;
		top: 18px;
		right: 0;
		width: 11px;
		height: 6px;
		background-image: url("../img/romb.png");
	}
	.page .mainNav-inner {
		border-right: none;
	}
	.contactInfo .list-unstyled li {
		margin-right: 10px;
	}
	.flex-gallery .block-descr, .block-descr.wide-area {
		padding: 6px;
		font-size: 10px;
	}
	.gallery-navigation a span::before, .gallery-navigation a span::after {
		bottom: -23px;
		width: 2px;
		height: 5px;
	}
	.gallery-navigation a {
		height: 15px;
		width: 15px;
	}
	.gallery-navigation a span::before {
		-webkit-transform: translateY(-35px) rotate(50deg);
		-moz-transform: translateY(-35px) rotate(50deg);
		-ms-transform: translateY(-35px) rotate(50deg);
		-o-transform: translateY(-35px) rotate(50deg);
		transform: translateY(-29px) rotate(50deg);
	}
	.gallery-navigation a span::after {
		-webkit-transform: translateY(-35px) rotate(-50deg);
		-moz-transform: translateY(-35px) rotate(-50deg);
		-ms-transform: translateY(-35px) rotate(-50deg);
		-o-transform: translateY(-35px) rotate(-50deg);
		transform: translateY(-26px) rotate(-50deg);
	}
	.gallery-navigation a:last-child span::before {
		-webkit-transform: translateY(-29px) rotate(-50deg);
		-moz-transform: translateY(-29px) rotate(-50deg);
		-ms-transform: translateY(-29px) rotate(-50deg);
		-o-transform: translateY(-29px) rotate(-50deg);
		transform: translateY(-29px) rotate(-50deg);
	}
	.gallery-navigation a:last-child span::after {
		-webkit-transform: translateY(-29px) rotate(50deg);
		-moz-transform: translateY(-29px) rotate(50deg);
		-ms-transform: translateY(-29px) rotate(50deg);
		-o-transform: translateY(-29px) rotate(50deg);
		transform: translateY(-26px) rotate(50deg);
	}
	.block-descr .num-slide {
		font-size: 24px;
		line-height: 18px;
		margin-left: 0;
	}
	.flex-gallery .block-descr, .block-descr.wide-area {
		height: 30px;
		width: 141px;
	}
	.contact-info {
		width: 100%;
		margin-bottom: 30px;
	}
	.contact-section form {
		margin-right: 0px;
		width: 100%;
	}

}

@media (max-width: 767px) {
	.open-mainNav {
		padding-right: 14px;
	}
}

@media (max-width: 480px) {
	.navbar-small .navbar-brand .logo-small {
		right: 20px;
	}
	img {
		float: none;
	}
	.content-frame span {
		display: block;
	}
	.wide-hover-bg .imageBox-inner-wrap {
		width: 100%;
	}
	.btn-grey {
		padding: 10px 5px;
		width: 105px;
	}
	.btn-grey::after {
		bottom: -10px;
		right: -10px;
		width: 113px;
		height: 50px;
	}
	.flex-gallery .block-descr, .block-descr.wide-area {
		padding: 0 5px;
	}
	.content-frame .mini-img {
		float: none;
		text-align: center;
	}
	.block-descr .num-slide {
		display: none;
	}
	.flex-gallery .block-descr, .block-descr.wide-area {
		height: 18px;
		width: 100px;
		bottom: 0;
	}
	form .success .success-text h2 {
		font-size: 26px;
	}
	.flex-slider .item-description p {
		margin: 0;
	}
}
@media only screen and (max-width: 400px) {
	.navbar-small .navbar-brand .logo-small {
		height: 30px;
		margin-top: 10px;
	}
}
@media only screen and (max-width: 360px) {
	.navbar-small .navbar-collapse.in {
		width: 114%;
		overflow: hidden;
	}
	.navbar-small .navbar-brand .logo-small {
		right: 10px;
	}
	.open-mainNav {
		height: 415px;
	}
	.flex-gallery .block-descr {
		left: 0;
		width: 100%;
	}
}

/******************** Height Desktop ********************/
@media (max-height: 730px) {
	.mainNav-sidebar {
      display: none;
    }
}

/******************** Min Width Desktop *******************/
@media only screen and (min-width: 769px) {
	.flex-sidebar-block, .flex-image-block {
		margin: 0;
		padding: 0;
		margin-bottom: 40px;
	}
	.mainNav .hr-custom:last-child {
		display: none;
	}
	.pageWrapper .navbar {
		display: none!important;
	}
	.mainNav {
		display: block!important;
	}
	.mainNav-sidebar.sidebar-footer {
		display: none;
	}
}